<div class="container">
    <div class="logo"><img src="../assets/images/logo-example.png"></div>
    <div class="img_rick_morty hide"><img src="../assets/images/Rick y Morty.svg"></div>
    <div class="img_portal hide"><img height="430px" src="../assets/images/Portal.gif"></div>
    <div class="container3 hide">
        <div (click)="callActivateCharacter()" [ngClass]="(activateCharacter==true)?'img_meez_2 active_img':'img_meez_2'">
            <img src="../assets/images/Meezeek 2.svg">
        </div>
        <div (click)="callActivateEpisodes()" [ngClass]="(activateEpisodes==true)?'img_meez_1 active_img':'img_meez_1'">
            <img src="../assets/images/Meezeek 1.svg">
        </div>
        <div (click)="callActivateCharacter()">
            <h3 [ngClass]="(activateCharacter==true)?'text_1 monster active_text':'text_1 monster'">PERSONAJES</h3>
        </div>
        <div (click)="callActivateEpisodes()">
            <h3  [ngClass]="(activateEpisodes==true)?'text_2 monster active_text':'text_2 monster'">EPISODIOS</h3>
        </div>
    </div>
</div>
