.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70% 30%;
    height: 16vh;
    background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
}
.img_footer{
    justify-self: center;
    align-self: center;
    opacity: 0.5;
    cursor: pointer;
}
.text{
    font-family: Creepster;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 1.5%;
    opacity: 0.5;
    margin: 0;
}
.active_text{
    border-bottom: 3px solid #FFFFFF;
    opacity: inherit;
}
.active_img{
    opacity: inherit;
}

@media (min-width: 969px){
    .footer {
        display: none;
    }

}